.f-sec {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 130px);
    align-items: center;
    justify-content: flex-start;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.f-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-head h1 {
    font-size: clamp(4rem, 2.5vw, 6rem);
    color: #fcf9bf;
    text-shadow: .1em .1em 0 rgb(220, 20, 60);
}

.slider-container {
    max-width: 1024px;
    background-color: blue;
}

.S-sec {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    color: #fcf9bf;
    background-image: url("../images/lottobg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.S-sec h1 {
    font-size: clamp(2rem, 2.5vw, 4rem);
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
}

.lottery-container {
    width: 100%;
    display: flex;
    gap: 15px;
    background-color: gold;
}

.lot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blueviolet;
}

.brand-line {
    width: 100%;
    height: 50px;
    background-image: url("../images/brand.jpg");
    background-repeat: repeat;
    background-size: contain;
}